<section class="cards cards--root">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                automaite enabled Nordea Markets to predict churn for next quarter with a 90% accuracy and help us focus on the most profitable customers. It is hard to over-estimate the value of automaite’s service.
              </div>
            </div>
            <footer class="card-footer">
              <div class="column">
                <span class="tag is-success">churn prediction</span>
              </div>
              <div class="column">
                <em>Luca Falda, Nordea Markets</em>
              </div>
            </footer>
          </div>
      </div>
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                automaite enabled Nordea Markets to predict churn for next quarter with a 90% accuracy and help us focus on the most profitable customers. It is hard to over-estimate the value of automaite’s service.
              </div>
            </div>
            <footer class="card-footer">
            <div class="column">
              <span class="tag is-success">churn prediction</span>
            </div>
              <div class="column">
                <em>Luca Falda, Nordea Markets</em>
              </div>
            </footer>
          </div>
      </div>
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                automaite enabled Nordea Markets to predict churn for next quarter with a 90% accuracy and help us focus on the most profitable customers. It is hard to over-estimate the value of automaite’s service.
              </div>
            </div>
            <footer class="card-footer">
            <div class="column">
              <span class="tag is-success">churn prediction</span>
            </div>
              <div class="column">
                <em>Luca Falda, Nordea Markets</em>
              </div>
            </footer>
          </div>
      </div>
    </div>
  </div>
</section>
