<section class="section Hero Hero--root">
  <div class="container">
    <div class="columns">
      <div class="column is-5 Hero--root__text-container">
        <h1 class="title is-2" style="margin-top: em">Put AI to work for you</h1>
        <p class="is-4">Connect your data with machine learning solutions via simple <br> <strong>recipes</strong> that anyone can use to make sense of their data</p>

        <ul>
          <li>
            <strong>1.</strong>  Pick a recipe
          </li>
          <li>
            <strong>2.</strong> Connect your data
          </li>
          <li>
            <strong>3.</strong> Sit back and wait for the results while we put the worlds strongest artificial intelligences to work for you
          </li>
        </ul>
        <div class="has-mobile-centered-text">
          <a href="https://www.getdrip.com/forms/87050110/submissions/new" class="button is-info is-medium" target="_blank">Get an invite</a>
        </div>
      </div>
      <div class="column is-7 image-container">
        <img src="./assets/img/robot.png" alt="">
      </div>
    </div>
  </div>
</section>
