<section class="Hero--root" style="backgsround-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=1920%C3%971080&w=1920&h=1080')">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <h1 class="title is-2" style="margin-top: em">Put AI to work for you</h1>
        <p class="is-4">Connect your data with machine learning solutions via simple <br> <strong>recipes</strong> that anyone can use to make sense of their data</p>

        <ul>
          <li>
            Pick a recipe
          </li>
          <li>
            Connect your data
          </li>
          <li>
            Sit back and wait for the results while we put the worlds strongest artificial intelligences to work for you
          </li>
        </ul>

        <button type="button" class="button is-primary is-medium">Get an invite</button>
      </div>
      <div class="column is-7">
        <img style="width: 90%; float: right" src="/assets/img/robot.png" alt="">
      </div>
    </div>
  </div>
</section>
