<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        autom<strong class="text-primary">ai</strong>te
      </a>
      <a class="nav-item is-tab is-hidden-mobile is-active" href="/">Styleguide</a>
      <a class="nav-item is-tab is-hidden-mobile" href="/typography">Typography</a>
      <a class="nav-item is-tab is-hidden-mobile" href="/variables">Variables</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab is-hidden-tablet">Features</a>
      <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
      <a class="nav-item is-tab is-hidden-tablet">About</a>
      <!-- <a class="nav-item is-tab">Log out</a> -->
    </div>
  </div>
</nav>
