<div class="container">
  <nav class="nav {{ page.navClass }}">
    <div class="nav-left">
      <a class="nav-item is-brand  {% if page.id == 'index' %}{{ 'is-active' }}{% endif %}" href="/">autom<strong class="text-primary">ai</strong>te</a>
      <!-- <a class="nav-item is-tab {% if page.id == 'receipts-index' %}{{ 'is-active' }}{% endif %}" href="/recipe/receipts">Receipts</a> -->
    </div>
    <div class="nav-right nav-menu">
      <!-- <a class="nav-item " href="/styleguide" target="_blank">Styleguide</a> -->
    </div>
  </nav>
</div>
