html,body {
  height: 100%;
  width: 100%;
  color: $grey-darker;
}

.text-primary {
  color: $primary;
}

.has-mobile-centered-text {
  @include mobile {
    text-align: center;
  };
}

.page-container {
  padding-top: 30px;
  min-height: 600px;
  padding-bottom: 30px;
}

.component-container {
  padding: 1em;
  margin: 1em 0;
  border: 1px dashed $primary;
}

.bg-primary {
  background-color: $primary;
}

.color {
    display: inline-block;
    float: left;
    height: 18px;
    margin-right: 5px;
    width: 18px;
}


.layout-gutter {
  padding-left: 21px;
  padding-right: 21px;
}
