html,body {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.text-primary {
  color: $primary;
}
.text-hidden {
  opacity: 0;
}

.page-container {
  padding-top: 30px;
  min-height: 600px;
  padding-bottom: 30px;
}

.component-container {
  padding: 1em;
  margin: 1em 0;
  border: 1px dashed $primary;
}

.bg-primary {
  background-color: $primary;
}

.color {
    display: inline-block;
    float: left;
    height: 18px;
    margin-right: 5px;
    width: 18px;
}
