<section class="cards cards--recipe">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                It usually takes me a whole day to sift through my camera upload pictures in my Dropbox to find the recipts for my accountant at the end of the quarter. Automate did it in five minutes!
              </div>
            </div>
            <footer class="card-footer">
              <em>Uffe Erup Larsen, Samurai-PR</em>
            </footer>
          </div>
      </div>
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                It usually takes me a whole day to sift through my camera upload pictures in my Dropbox to find the recipts for my accountant at the end of the quarter. Automate did it in five minutes!
              </div>
            </div>
            <footer class="card-footer">
              <em>Uffe Erup Larsen, Samurai-PR</em>
            </footer>
          </div>
      </div>
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                It usually takes me a whole day to sift through my camera upload pictures in my Dropbox to find the recipts for my accountant at the end of the quarter. Automate did it in five minutes!
              </div>
            </div>
            <footer class="card-footer">
              <em>Uffe Erup Larsen, Samurai-PR</em>
            </footer>
          </div>
      </div>
    </div>
  </div>
</section>
