<section class="Hero Hero--receipts">
  <div class="container">
    <div class="columns">
      <div class="column is-5 Hero--root__text-container">
        <h1 class="title is-2" style="margin-top: em">Find your receipts fast</h1>
        <p>
          Save hours of your time sorting through your receipt images.
        </p>
        <br>
        <p>
          automaite uses machine learning and artificial intelligence from Google, Amazon, IBM and others to quickly and easily find all your photographs with receipts in them.
        </p>

        <a href="#" class="button is-primary">Find your receipts</a>
      </div>
    </div>
  </div>
</section>
