<div class="Steps container">
  <div class="columns">

    <div class="column is-4">
      <div class="Steps__number">
        1
      </div>
      <div class="Steps__text">
        Connect us with your photos via Dropbox, Google Drive, iCloud or just upload them from your computer
      </div>
    </div>


    <div class="column is-4">
      <div class="Steps__number">
        2
      </div>
      <div class="Steps__text">
        Tell us what you want us to find for you in the pictures
      </div>
    </div>


    <div class="column is-4">
      <div class="Steps__number">
        3
      </div>
      <div class="Steps__text">
        We send you an email when we are done identifying the pictures.
      </div>
    </div>

  </div>
</div>
