.nav.nav--receipts {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.Hero.Hero--receipts {
  padding-top: 8em;
  background-image: url('../assets/img/receipts-bg.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  .Hero--root__text-container {
    margin-top: 0;
  }
}


section.cards.cards--recipe {
  .card-footer {
    justify-content: flex-end;
  }
}
