<section class="Hero--root" style="backgsround-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=1920%C3%971080&w=1920&h=1080')">
  <div class="container">
    <div class="columns">
      <div class="column is-5 Hero--root__text-container">
        <h1 class="title is-2" style="margin-top: em">Find your recepits fast</h1>
        <p class="is-4">Connect your data with machine learning solutions via simple <br> <strong>recipes</strong> that anyone can use to make sense of their data</p>

        <ul>
          <li>
            <strong>1.</strong>  Pick a recipe
          </li>
          <li>
            <strong>2.</strong> Connect your data
          </li>
          <li>
            <strong>3.</strong> Sit back and wait for the results while we put the worlds strongest artificial intelligences to work for you
          </li>
        </ul>

        <button type="button" class="button is-primary is-medium">Get an invite</button>
      </div>
      <div class="column is-7 image-container">
        <img src="./assets/img/robot.png" alt="">
      </div>
    </div>
  </div>
</section>
